StandOrganizer.Api/packages/
StandOrganizer.Api/.vs/
StandOrganizer.Api/StandOrganizer.Api.Tests/obj/
StandOrganizer.Api/StandOrganizer.Api/bin/
StandOrganizer.Api/StandOrganizer.Api/obj/
StandOrganizer.Api/StandOrginizer.BL/obj/
StandOrganizer.Api/StandOrganizer.DAL/obj/
